
/*
  **Css para celulares**
*/

body {
      background-color:#ddd;
      color:#313131;
      width:100%;
}
#cabecalho a{color:#fff;text-decoration:none;}

.section {
  padding-bottom:25px;
  padding-top:25px;
}


/*DropDown mobile*/

.dropdown{
  background-color:rgba(0,0,0,.4);
  padding:5px auto;
  color:#fff;
  text-align:center;
  font-size:1.8em;
}

.btn_n{ 
  padding:20px;
  background-color:rgba(0,0,0,.1);
  border-radius:10px;
  width:100%;
  font-weight:bold;
}


.dropdown ul{
  padding:5px;
  list-style:none; 
  background-color:rgba(0,0,0,.1);
  width:100%;
  border-radius:10px;
  border:solid 1px rgba(0,0,0,.1);
  display:none;
}

.dropdown ul li{
  margin:10px; 
  border-bottom:solid rgba(0,0,0,.1) 1px;
}

.dropdown a{
  color:#fff;
  text-decoration:none;}
  




#cabecalho{background-color:#006680;}

#slideshow{
  border-bottom:solid #006680 5vh;
  position:relative;
  display:none;
  width:100%;
  height:65vh;
  overflow:hidden;
}

#slideshow img {
  width:100%;
  height:60vh;
  position:absolute;
  top:0px;
}

#slideshow figure{
  position:absolute;
  top:0px;
  width:100%;
  height:60vh;
}

.slide_legenda figcaption{ 
  text-align:center;
  background-color:rgba(0,0,0,.5);
  color:#fff;
  text-shadow: 2px 2px 1px rgba(0,0,0,.7);
  position:absolute;
  width:100%;
  height:10vh;
  padding-bottom:1%;
  padding-top:1%;
  bottom:0;
  
}

.slideshow{
  border-top:solid #fff 5px;
}

.menu{
  color:#fff; 
  text-align:center; 
  float:right;
  display:none;
}


.menu div{
  padding-top:50px;
  font-size:1.1em;vertical-align:middle; 
  width:100px; height:100px;}



.menu div:hover {
  background-color:rgba(0,0,0,.2);
  border-bottom: solid #FFE166 5px;
  transition:.6s;
}

.c_red{color:red;}

#servicos{text-align:center;}
#servicos div div{height:330px; margin-bottom:20px;}
#servicos h4{margin-bottom:30px;}
#servicos img{margin-bottom:20px;}
#clientes h5{text-align:center;}
#rodape{background-color:#006680; color:#fff; text-shadow: 1px 1px 1px  rgba(0,0,0,.5); text-align:center;}
#rodape  li{margin-left:40%;text-align:left;}

.title{ text-align:center; margin-bottom:3%; background-color:#006680; padding: 5px; color:#fff;}

.s_title{text-align: center; margin-bottom:5%;}
.n-title{margin-bottom:5%;}
.trans {background-color:rgba(0,0,0,.0); border:none;}
.c{border:red solid 1px;}

ul{list-style: none; padding:0;}
ul li{margin:0;}


@media (max-width: 400px){
    #cabecalho{
  padding-top:100px;

}
}

@media (min-width: 400px){
  .dropdown{display:none;}
  .menu{display:block;}
  #slideshow{display:block;}

}

/*
  **Css para tablets**
*/

@media (min-width: 768px){
  body{
    background-color:#ddd;
  }
  
  #cabecalho{
    padding-top:0px auto;
  }
  #logo {position:relative;}
  #logo img{position:absolute; top:10px;}
}


/*
  **CSS para tablets e not/netbooks**
*/
@media (min-width: 992px){
  #cabecalho{
    padding-top:0px auto;
  }
  body{
    background-color:#ddd;}
}


/*
  **CSS para dispositivos maiores**
*/
@media (min-width: 1200px){
  body{
    background-color:#ddd;
  }
  
  #cabecalho{
    padding-top:0px;
  }
}
