@charset utf8;

/* * {border:solid green 1px;}*/
p{
	font-size: 1.1em;
	text-align: justify;
	text-indent: 5%;
	font-family: berlin sans fb;
	color: rgba(0,0,0,.8);
 }

h1, h2{
	color:rgba(0,0,0,.7);
	text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	font-family: berlin sans fb;
	margin-top:50px;
	margin-bottom:30px;
  }
 
a:hover {
  color:red;
  transition:1s;
  
 } 

/*======================CABEÇALHO==================================*/
#header
		{
		 height: 100px; 
		 width: 1000px; 
		}

#contatos {
			position:relative;
			right:10px;
			bottom:10px;
			width:auto;
			height: auto;
			margin:0px 0px 10px 0px;
			float:right;
		   }

#contatos ul li{ list-style: none; display:inline-block;}



/*======================ICONES CABEÇALHO==================================*/			
.icons {
		width:16; 
		position:relative; 
		top:3px; 
	   }
	   
/*=======================BANNER=================================*/  
 
.banner {
		position: absolute;
		top: 50px;
		margin: 2px 10px 10px 40px;
		height:auto;
		width:auto;										
		}

/*----------------Rodapé-----------------------------------*/
div#rodape {
			width:1000px;
			height:50px; 
			margin:auto auto;
			background: #313131; 
			color:white;
			padding:10px 0px;
			position:relative;
			clear:both;
		}				 
div#rodape ul{
			color:#fff; 
			text-shadow: 0px 0px 1px #fff; 
			width:200px; 
			height:40px;
			list-style: none; 
			margin:0 auto; 
		   }

div#rodape li{
			font-size:10pt;
			margin:5px auto;
			width:200px;
			text-align:center;
		   }	
			  
/*===========================FUNDO=========================================*/				 
body {
	width: 100%;
	height: auto;
	margin:auto;
	padding-top:20px;	
	position: relative;
	background: rgba(0,0,0,.9);
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, #313131 400px, #ddd 400px);
	
     }
	 
	 
	 

   
/*====================CORPO DA PÁGINA====================*/
 
div#box1{
	width: 900px; 
	height: auto;
	margin: 0px auto;
	padding: 200px 50px 100px 50px ;	
	background: white;
	border: none;
	border-radius: 3px ;
  	box-shadow: 1px 1px 16px 2px rgba(0,0,0,.1);
	
	}




.img {
	position: relative;
	font-size: .5em;
	float: right;
	width: 300px;
	bottom: 30px;
	left: -20px;
	
	}



figcaption {
		position: relative;		 
		font-size: 12pt;
		width:auto;
		height:auto;
	}


/*======================MENU HORIZONTAL============================*/

nav#menu_horizontal{
				 z-index:1;
				 position: relative; 
				 margin:5px auto 50px auto; 
				 clear:both;
				 width:900px; 
				 text-align: center;
				}

#menu{ 
	display: block; 
	width: auto; 
	height:auto; 
	margin:auto; 
	padding:0; 
	font-family: Tahoma; 
	font-size: .8em; 
	border:none; 
	border-radius: 5px; 
	background: #313131;
  }

#menu li{ 
	display: block; 
	float: left; 
	position:relative;  
	width: 180px; 
	padding: 0px;
   }

#menu li a{ 
	  background:#313131;
	  text-decoration: none; 
	  color:rgba(0,0,0,.7); 
	  display: block;  
	  padding:10px 10px; 
	  border-right: solid 1px #ccc; 	  
	  color:#fff; 
	 }

#menu li a:hover{
			background: #72B626; 
			color: #ddd; 
			text-shadow: 0px 0px 3px gray; 
			transition: .3s; 
		   }

#menu li ul{
	   display: none; 
	   background:none; 
	   position:absolute; 
	   height: 40px; 
	   width: auto; 
	   padding: 0; 
	   font-size:1em;
	   
	  }	  
	  
#menu li ul li{
		display: block; 
		float: none;
		background: #fff; 
		padding:0; 
		margin: 0;
		width: 180px;
		
	   }

#menu li ul li a{ 
		  border-top:solid white 1px; 
		  border-right: none;
		 }	   
	   
#menu li:hover ul{
			display: block; 
			transition: 3s; 
			background: none; 
			width: auto; 
			box-shadow: none; 
			border:none;
		   }

/*===============================================================*/


/*=====================Lista de Serviços==============================*/
#listaa {
		
		width:auto;
		height:auto;
		position:relative;
		margin-top: 50px;

}		
#listaa  ul{
		display:block;
		position:absolute;
		padding:0;
		float:none;
		margin:50px;
		height:auto;
		width:auto;
		width:300px;
		display:block;
		list-style: none;
		font-family: berlin sans fb;
		font-size: 1em;
		}
	
#listaa ul img {
				margin: 10px 20px 0 0;				
			}
			
#listaa figure {
				width:300px;
				left:500px;
				height:auto;
				clear:both;
				position:relative;
			}
		
/*=========================Contatos================================*/
.inline {
		display:inline-block;
		margin:2px;
		list-style:none;
		margin-left:50px;
		margin-bottom:10px;
		
		}

/*==========================Consultoria==========================*/
.consultoria {
				width:1000px;
				height:250px;
				position:relative;
			 }

			 
			 
.consultoria figure {
	
	position: relative;
	font-size: .5em;
	float: right;
	width: 300px;
	bottom: 0px;
	left: 0px;
	border-radius:100%;
	
	}
				





